body    { background-color:antiquewhite; 
          font-size: 10pt; color: black; font-family:Arial, Helvetica, sans-serif;
          max-width: 1000px; 
          margin: auto; 
          text-align: center; }

h1 { font-family:cursive;
     color: rgb(81, 81, 223);  
     padding: 30pt; }

h2 { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: black;
     border: 5px solid rgb(18, 18, 19);
     height: 30px;
     width: 300px;
     background-color: powderblue; 
     box-shadow: 10px 10px 25px dimgrey; 
     margin: auto; }

.cancelbtn  { margin-left: 10pt;
              background-color: rgb(231, 135, 135); }
.submitbtn  { margin-left: 50pt;
              background-color: rgb(129, 236, 129); }
.bluebtn    { margin-left: 10pt;
              background-color:rgb(156, 191, 236); }
              
.moving     { text-align: left;
              animation-name: slide-in;
              animation-duration: 2s; 
              animation-timing-function: linear; }

@keyframes slide-in  { 0%    {transform: translateX(1000px); opacity: 0;}
                       100%  {transform: translateX(0); opacity: 1;} }
    
ul  { list-style-type: none;
      background-color: rgb(209, 209, 209);
      margin: 0;
      padding: 0;
      overflow: hidden; 
      border: 1px solid black; }

li  { float: left; }

li a    { display: block;
          color: black;
          padding: 14px 16px;
          text-decoration: none; }

li a:hover  { background-color:rgb(143, 199, 248);
              text-decoration: underline overline; 
              color:blue; }

.select { text-decoration:underline; }

table  { width: 1000px;
          height: 300px;
          align-content:center; }

table, td  { border: 1px;
             border-style: groove; }

th  { border: 2px solid black; }

img { border: 1px solid gray;
      width: 200px;
      height: 200px; 
      transition: transform 2s;}

img:hover   { transform: rotate(360deg) scale(2.5,1.3); }






